h1{
    color: antiquewhite;
}

body
{
    text-align: center;
    background-color: black;
}

div{
    height:25vh;
    width: 15%;
    display: inline;
    border: 2px solid pink;
}
#container{
height: 50vh;
width: 50%;
display: flex;
flex-direction: row;
justify-content: flex-end; 
flex-wrap: wrap;
align-items: center; 
 align-content: flex-start;
}
/* row reverse+flex end to order 12345 rhega but left side se st hoga flex start mtlb main line ka st. sirf row reverse krega to 54321 ho jaega right side me ...........
allign content se upr neeceh st end hora h...justify content se right left hora h*/

 #box1
 {
    background-color: rgb(212, 41, 41);
 }
 #box2
 {
    background-color: aqua;
    height: 250px;
 } 
 #box3
 {
    background-color: blueviolet;
    height: 300px;

 } 
 #box4
 {
    background-color: chartreuse;
 } 
 #box5
 {
    background-color: rgb(216, 210, 22);
 }