.sub {
  height: 15vh;
  width: 8%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/021/524/282/non_2x/abstract-purple-wavy-papercut-overlap-layers-background-eps10-vector.jpg);
  margin: 5px;
  border: 4px rgb(254, 254, 254) solid;
  display: flex;
  flex-direction: row;
  color: white;
  transition-delay: 10ms;
  transition-duration: 800ms;
  transition-property: all;
  border-radius: 15px;
  justify-content: center;
  /* content chaudai ke centre pe lata h */
  align-items: center;
}
.sub:hover {
  background-color: #d2691e;
  color: rgb(0, 0, 0);
  height: 40vh;
  width: 35%;
  margin: 10px;
  /* transform: rotate(360deg); */
}
.main {
  display: flex;
  justify-content: center;
  /* content chaudai ke centre pe lata h */
  align-items: center;
  /* allign: lambai ke centre pe; */
  flex-direction: row;
  height: 100vh;
}
body {
  background-color: #b2c14e;
}
.subb {
  height: 15vh;
  width: 8%;
  background-color: #43bf60;
  border: 4px rgb(0, 0, 0) solid;
  border-radius: 10px;
  display: flex;
  transition-duration: 1000ms;
  transition-property: all;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00NTItZi0wMTQuanBn.jpg);
  background-position: center;
  

}
.subb:hover {
  height: 30vh;
  width: 30%;
  color: black;
  background-size: cover;
  transform: translateY(-55px);
  margin: 10px; 
}
@keyframes Coloring {
    from {background-color: #d558ad;}
    to {background-color: #56db6e;}
}
.subbb {
        height: 15vh;
        width: 8%;
        background-color: #2600be;
        margin: 5px;
        border: 4px rgb(0, 0, 0) solid;
        border-radius: 10px;
        display: flex;
        transition-duration: 1000ms;
        transition-property: all;
        justify-content: center;
        align-items: center;
        color: rgb(255, 0, 0);
        animation-name:Coloring ;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-delay: 1s;
}